@model SocialNetwork.ViewModels.Resource.CreateViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css
{
    @Styles.Render("~/Content/resource.create.css")
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Resource</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @rows = 10 } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">URL</label>
            <div class="col-md-10">
                <div id="urls">
                    <div id="url0" class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" onclick="removeURL('url0')"><i class="glyphicon glyphicon-minus"></i></button>
                        </span>
                        <input class="form-control" style="max-width: 240px" name="URLs" type="url">
                        <span class="field-validation-valid text-danger" data-valmsg-for="URLs" data-valmsg-replace="true"></span>
                    </div>
                </div>
                <button id="addButton" type="button" class="btn btn-default" onclick="addURL(1)"><i class="glyphicon glyphicon-plus"></i></button>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Upload files</label>
            <div class="col-md-10">
                <label class="switch switch-flat">
                    <input class="switch-input" type="checkbox"/>
                    <span class="switch-label" data-on="On" data-off="Off"></span> <span class="switch-handle"></span>
                </label>
                <br/>
                <div id="upload">
                    Uploading files
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section scripts{
    @Scripts.Render("~/Scripts/resource.create.js")
}